alabaster==0.7.13
Babel==2.11.0
certifi==2024.7.4
charset-normalizer==3.0.1
docutils==0.17.1
idna==3.7
imagesize==1.4.1
importlib-metadata==6.0.0
Jinja2==3.1.4
MarkupSafe==2.1.1
packaging==23.0
Pillow==10.3.0
Pygments==2.15.0
pytz==2022.7.1
PyYAML==6.0.1
reportlab==4.0.9
requests==2.32.2
rst2pdf==0.101
smartypants==2.0.1
snowballstemmer==2.2.0
Sphinx==5.3.0
sphinx-rtd-theme==1.1.1
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib.applehelp==1.0.3
urllib3==1.26.19
zipp==3.11.0
